<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    {% if app.session.flashBag.has('info') %}
            {% for msg in app.session.flashBag.get('info') %}
                <p> {{ msg }} </p>
            {% endfor %}
    {% endif %}
    {% block view %}{% endblock %}
    </body>
</html>
