{% extends 'Layouts/base.html.twig' %}
{% block title %} Banger Movies {% endblock %}
{% block stylesheets %} {{ parent() }} <link rel="stylesheet" type="text/css" href="{{ asset('/layout.css') }}"/> {% endblock %}
{% block view %}
    {% include 'Layouts/footer.html.twig' %} <br>
    <div id="menu">{% include 'Layouts/menu.html.twig' %}</div> <br>
    {% block body %} {% endblock %} <br>
    <div id="footer">
        {% include 'Layouts/header.html.twig' %} <br>
    </div>
{% endblock %}